@tailwind base;
@tailwind components;
@tailwind utilities;


html { 
    scroll-behavior: smooth; 
}

body{
    color: #222A41;
    scroll-behavior: smooth; 
}

.categoryGrid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 2rem;
}